
/**setRandom background color done in printQuote functions
*/
/**default body background*/
body {
  background-color: blue;
  color: white;
  font-family: 'Playfair Display', serif;
}

#quote-box {
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
  width: 80%;
  line-height: .5;
}

/**changed font size*/
.quote {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.1;
  position: relative;
  margin: 0;
}

.quote:before, .quote:after {
  font-size: 3rem;
  line-height: 2.5rem;
  position: absolute;
}

.quote:before {
  content: "“";
  top: .25em;
  left: -.5em;
}

.quote:after {
  content: "”";
  bottom: -.1em;
  margin-left: .1em;
  position: absolute;
}

.source {
  font-size: 1rem;
  letter-spacing: 0.05em;
  line-height: 1.1;
  text-align: right;
  margin-right: 4em;
}

.source:before {
  content: "—";
}
/**changed font size*/
.citation {
  font-size: 1.4rem;
  font-style: italic;
}

.citation:before {
  content: ", ";
  font-style: normal;
}
/**changed font size*/
.year{
  font-size:1.4rem;
}

.year:before {
  content: ", ";
  font-style: normal;
}
/**created this for the var of object quote and set font-size to 2.5 rem */
.rating{
  font-size: 2.5rem;
}
/**moved button to fit other button*/
#loadInsQuote {
  position: fixed;
  font-size: 30px;
  width: 20em;
  display: inline-block;
  left: 15%;
  margin-left: -6em;
  bottom: 150px;
  border-radius: 4px;
  border: 2px solid #fff;
  color: #fff;
  /**default background color for button*/
  background-color: blue;
  padding: 15px 0;
  transition: .5s ;
}
#loadInsQuote:hover {
  background-color: red;
}

#loadInsQuote:focus {
  outline: none;
}
/**created this button using much off the code from the previous given button*/
#loadOffQuote {
  position: fixed;
  font-size: 30px;
  width: 20em;
  display: inline-block;
  left: 65%;
  margin-left: -6em;
  bottom: 150px;
  border-radius: 4px;
  border: 2px solid #fff;
  color: #fff;
  /**default background color for button*/
  background-color: blue;
  padding: 15px 0;
  transition: .5s ;
}
#loadOffQuote:hover {
  background-color: red
}

#loadOffQuote:focus {
  outline: none;
}

@media (min-width: 420px) {
  .quote {
    font-size: 4rem;
  }
  .quote:before, .quote:after {
    font-size: 6rem;
  }
  .source {
    font-size: 1.25rem;
  }
}
